@import "tailwindcss";


@theme {
    --color-border: var(--color-border);
    --color-primary-text: var(--color-main-text);
    --color-secondary-text: var(--color-secondary-text);
    --color-btn: var(--color-btn);
    --color-secondary-bg: var(--secondary-bg);
    --color-primary-bg: var(--primary-bg);

}

@layer base{
    :root{
        --color-accent: #59608D;
        --color-primary-text: #E11D48;
        /* --color-primary-text: #7E06FF; */
        --color-secondary-text: #111827;
        --color-bw-text: black;
        --secondary-bg: #d3eef090;
        --primary-bg: #e6e4f3;
        
        /* --font-logo: 'Roboto'; */
    }
    .dark{
        --color-accent: #F472B6;
        --color-primary-text: #FF6B6B;
        --color-secondary-text: #CBD5E1;
        /* --color-secondary-text: #D5E2FF; */
        --color-bw-text: white;
        --secondary-bg: #0D1B2A;
        /* --secondary-bg: #0D1321; */
        --primary-bg: #1B263B;
        /* --primary-bg: #342f3e; */
    }
}


html, body{
    scroll-behavior: smooth;
}